@import url('https://fonts.googleapis.com/css2?family=Philosopher:wght@400;700&family=Roboto:wght@300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Roboto', sans-serif;
}
h1, h2, h3, h4, h5, h6{
  font-family: 'Philosopher', sans-serif;
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

//.header{
//  position: absolute;
//}
.container {
  max-width: 1140px;
  padding: 0 15px;
  width: 100%;
  margin: 0 auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  margin-top: 30px;
}
.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__logo {
    margin-right: 35px;
  }

  &__link {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    margin-right: 40px;
    color: #150C01;
    opacity: 0.6;
    transition: .6s;

    &:hover {
      color: #DC780B;
    }
  }
}
.btn{
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    width: 155px;
    height: 46px;
    background: #DC780B;
    border-radius: 5px;
    border: none;
    padding: 13px 30px;
  }
/*==============Header=============*/
/*=============Hero============*/

.hero {
position: relative;


  &__title{
    font-weight: 700;
    font-size: 48.83px;
    line-height: 58px;
    color: #150C01;
    margin-top: 162px;
  }
  &__desc{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #150C01;
    opacity: 0.7;
    margin: 42px 0 50px;
  }
 &__img{
   max-width: 100%;
   top: -36px;
   right: 81px;
 }

}
.col-6{
  width: 50%;
  padding: 0 15px;
  box-sizing: border-box;
}

.col-4 {
  width: 33.3333%;
  padding: 0 15px;
}
.row{
  display: flex;
  margin: 0 -15px;
  flex-wrap: wrap;
}
.rt-btn{
  margin-right: 30px;
  padding: 20px 40px;
}
.wt-btn{
  color: #DC780B;
  background: #FFFFFF;
  font-weight: 500;
  border: 1.5px solid #DC780B;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 20px 40px;
}

/*============FEATURES=============*/
.features{
  text-align: center;
  padding-bottom: 108px;
  &__container{
    max-width: 1080px;
  }

  &__title{
    font-weight: 700;
    font-size: 31.25px;
    line-height: 35px;
    text-transform: capitalize;
    color: #150C01;
    margin: 7px 0 44px;
  }
  &__logo {
    width: 88px;
    height: 88px;
    border-radius: 50%;
    background: #c2cd91;
    display: inline-block;
    position: relative;
  }
    &__svg {
      z-index: 5555;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      position: absolute;
      max-width: 44px;
      display: inline-block;
      align-items: center;
  }
    &__subtitle{
      font-weight: bold;
      font-size: 25px;
      line-height: 24px;
      color: #150C01;
      margin: 33px 0 15px;
    }
  &__desc{
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    color: #150C01;
    opacity: 0.7;
  }
  &__pink{
    background: #e0c6c0;
  }
  &__yellow{
    background: #dec7ad;
  }

}
.orange{
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #DC780B;
}

/*======================ABOUT======================*/
.about {

  &__img {
    background: url("../img/about-f.png") no-repeat center/cover;
    max-width: 787px;
    height: 586px;
    border-radius: 30px;
  }
  &__orange {
    margin: 108px 0 10px;
  }

  &__title {
    font-style: normal;
    font-weight: 700;
    font-size: 31.25px;
    line-height: 41px;
    color: #150C01;
  }
  &__desc{
    font-weight: 400;
    line-height: 24px;
    color: #150C01;
    opacity: 0.7;
    margin: 30px 0 29px;
  }
  &__btn {
    width: 142px;
    height: 42px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    padding: 11px 30px;
  }

}
.box__two{
  margin-left: 101px;
}


















